<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../display.css">
    <title>Home_page</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome <%= user_det.name %> </h1>
        <h4 class="text-center">User Name: <%= user_det.username %> </h4>
        <h4 class="text-center">Email: <%= user_det.email %> </h4>
        <a href="/logout" id="but-centre" class="btn btn-primary ">Logout</a>
        <a href="/edit_view" id="but-centre" class="btn btn-primary mt-2">Edit</a>
    </div>
</body>
</html>
